{% extends "baseStaff.html" %}
{% block title %}Staff Accounts{% endblock %}

{% block content %}
<h1 class="display-4">Account Management</h1>
<h5 class="display-6">Staff Accounts</h5>
<a href="/createUser" class="btn btn-warning" style="float: right;">Add Staff</a>
<div>
  {% if count == 0 %}
  <p>There are no users.</p>
  {% elif count == 1 %}
  <p>There is 1 user.</p>
  {% else %}
  <p>There are {{ count }} users.</p>
  {% endif %}
</div>
<hr>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Role</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
     <tr>
        <td>{{ user.get_user_id() }}</td>
        <td>{{ user.get_first_name() }}</td>
        <td>{{ user.get_last_name() }}</td>
        <td>{{ user.get_gender() }}</td>
        {% if user.get_membership() == "E" %}
        <td>Employee</td>
        {% elif user.get_membership() == "M" %}
        <td>Manager</td>
        {% elif user.get_membership() == "A" %}
        <td>Admin</td>
        {% endif %}
        <td>{{user.get_status()}}</td>
         <td><a href="/updateUser/{{user.get_user_id()}}" class="btn btn-warning">View</a></td>
         <td>
          <form action="{{url_for('delete_user', id=user.get_user_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{user.get_first_name()}} {{user.get_last_name()}}?');">-->
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{user.get_user_id()}}">Disable</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{user.get_user_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Disable Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to disable {{user.get_first_name()}} {{user.get_last_name()}}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
          </form>
        </td>
     </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
