{% extends "baseStaff.html" %}
{% block title %}Toy Outpost - Update Buyer Rewards{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="mt-5 pt-4 mx-4">
    <div class="pagetitle">
      <h1>Update Buyer Reward</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="homeStaff">Home</a></li>
          <li class="breadcrumb-item">Customer Rewards Segment</li>
          <li class="breadcrumb-item active">Update Buyer Reward</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.status, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.coupon_name, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.rType, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.issueDate, class="form-check", style="list-style-type:none") }}
    </div>
    <div class="form-group">
      {{ render_field(form.expiryDate, class="form-check", style="list-style-type:none") }}
    </div>
    <div class="form-group">
      {{ render_field(form.code, class="form-control") }}
    </div>
    <div id="prof">
      <div class="form-group">
        {{ render_field(form.description, class="form-control") }}
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</div>
{% endblock %}
